# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
migrations/
instance/

cookie.txt

# Environment variables file
.env
.flaskenv

# Flask and SQLAlchemy-related files
*.sqlite3
*.db
migrations/

# Logs
*.log

# macOS files
.DS_Store

# Python egg files
*.egg-info/
.eggs/

# IDE configurations (optional, depending on your setup)
.idea/
.vscode/
